.container {
    /* margin:12px auto; */
}
main{
  width:1600px;
  margin-left: auto;
  margin-right: auto;
}
/*pattern 1*/
 #container_1 {
    width:100%;
}
#container_1 .bx-viewport {
    box-shadow: none;
    border:solid 5px #fc0;
    border-radius: 2px;
}
#container_1 .bx-pager-item a {
    background: #f90;
}
#container_1 a.active {
    background:#f30;
}

/*pattern 2*/
 #container_2 {
    width:100%;
}
#container_2 .bx-pager-item a {
    background: #ccc;
}
#container_2 a.active {
    background:#4b4b4b;
}

/* pattern 3*/
 #container_3 {
    width:100%;
}
#container_3 .bx-wrapper {
    margin-bottom:12px;
}
#container_3 .bx-viewport {
    box-shadow:none;
}
#bx-pager {
    text-align:center;
}
img{
  width: 100%;
}
