body {
    /* font-size: 2rem; */
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template:
        "header header header header header header header" 80px
        "... ...... ...... ...... ...... ...... ..." 2em
        "... left   ...... center ...... right  ..." 1fr
        "... ...... ...... ...... ...... ...... ..." 2em
        "footer footer footer footer footer footer footer" 200px
        / auto 15vw auto 1fr auto 15vw auto;
        /* grid-gap: 10px; */
}
h1, h2, h3, h4, h5, h6, p, address, ul, ol, li, dl, dt, dd, table, th, td, img, form {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1.6;
    border: none;
    list-style-type: none;
}


header {
    grid-area: header;
    width:inherit;
    /* float: left; */
    padding: 25px 0;
    position: inherit;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

#nav{
  padding-left: 1vw;
  padding-right: 1vw;
}

#nav ul{
  width: inherit;
  overflow:hidden;
　list-style:none;
　margin: 0;
　z-index: 2;
  float: right;

  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

}
#nav a{
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  /* font-size: 100%; */
  line-height: 1.6;
  float: left;
}
#nav ul li{
  display: inline-block;
}

#nav ul a{
  font-size: 22px;
}

/* header */

/* main */
main {
    grid-area: center;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper{
  display: block;
  position: relative;
  /* width: 70%; */
  text-align:center;
  margin: 0em 3.5em 3.5em 3.5em;
  align-items: center;
}

.container{
  display:block;
  /* height: 60em; */
  margin-bottom: 0px;
  margin-left: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align:center;
  flex-wrap: nowrap;
  z-index: 1
  /* align-content: flex-start; */
}

.container h1{
  font-size: 40px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
  z-index: 2
}

.image img {
  /* margin: 1em 0 1em 0; */
  display: block;
  width: 100%;
  /* height: 600px; */
  align-items: center;
}

/* main */
h1{
  display: block;
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin-block-start:  0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}

h2{
  display: block;
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}

h3{
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-block-start: 1em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}

p{
  display: block;
  font-size: 18px;
  font-weight: lighter;
  color: gray;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* 作品ページ */
.caption{
  display: grid;
  /* height: 10em; */
  margin: 0;
  grid-template:
    "title ... day .... ....  " 55px
    "... ... ... ... ..." 5px
    "Genre Genre Genre Genre ... " 20px
    "Tools Tools Tools Tools ... " 20px
    "... ... ... ... ..." 10px
    / auto 5px 1fr auto auto;
  /* grid-template:
    "title day .... ....  " 55px
    "Genre Genre Tools Tools " 20px
    "... ... ... ... " 10px
    / auto 1fr 50% auto; */
  /* grid-template:
    "... ... ... ... ... " 10px
    "title ... day ... ...  " 10px
    "title ... day Genre Genre  " 25px
    "title ... day Tools Tools " 25px
    "... ... ... ... ... " 10px
    / auto 10px 110px 1fr auto; */
    grid-gap: 5px
}

.caption h1{
  display: block;
  grid-area: title;
  font-style: italic;
  font-size: 45px;
  font-weight: bold;
  color: black;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}

.caption2 h1{
  display: block;
  grid-area: title;
  font-style: italic;
  font-size: 45px;
  font-weight: bold;
  color: black;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}

.caption h2{
  display: block;
  grid-area: Genre;
  font-style: normal;
  font-size: 16px;
  font-weight: 100;
  color: gray;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}
.caption h3{
  display: block;
  grid-area: Tools;
  font-style: normal;
  font-size: 16px;
  font-weight: 100;
  color: gray;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}

.caption p{
  grid-area: day;
  font-size: 16px;
  font-style: italic;
  font-weight:  normal;
  color: black;
  display: block;
  margin: 2.3em 0 0 0;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}

.photo{
  display:block;
  /* height: 60em; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align:center;
  flex-wrap: nowrap;
  z-index: 1
  /* align-content: flex-start; */
}
.spacer{
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.text ul{
  margin-top: 10px;
  margin-bottom: 10px;
}
.text ul li{
  list-style: disc;
  list-style-position: inside;
  color: gray;
}
.text ul li a{
  color: gray;
  text-decoration: underline;
}

a{
  text-decoration: none;
}
a:link{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
  text-decoration: none;
}

.skill{
  display: grid;
  grid-template:
    " ..... b0 ..... b1 ..... b2 ...." auto
    / 10px 1fr 30px 1fr 30px 1fr 10px ;
    /* grid-gap: 10px; */
}

.skill_bl_0{
  grid-area: b0;
  display: grid;
  grid-template:
    " ... ... ... ... " 10px
    " icon ... tool per " 30px
    " icon ... bar_box ... " 30px
    " ... ... ... ... " 10px
    / 60px 10px 1fr auto ;
    /* grid-gap: 10px; */
}
.skill_bl_1{
  grid-area: b1;
  display: grid;
  grid-template:
    " ... ... ... ... " 10px
    " icon ... tool per " 30px
    " icon ... bar_box ... " 30px
    " ... ... ... ... " 10px
    / 60px 10px 1fr auto ;
    /* grid-gap: 10px; */
}
.skill_bl_2{
  grid-area: b2;
  display: grid;
  grid-template:
    " ... ... ... ... " 10px
    " icon ... tool per " 30px
    " icon ... bar_box ... " 30px
    " ... ... ... ... " 10px
    / 60px 10px 1fr auto ;
    /* grid-gap: 10px; */
}

.icon{
  grid-area: icon;
  /* background-color: gray; */
}
.tool{
  grid-area: tool;
  text-align: left;
  /* background-color: gray; */
}
.skill p{
  display: block;
  font-size: 18px;
  font-weight: lighter;
  color: gray;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  /* background-color: gray; */
}
.per{
  grid-area: tool;
  text-align: right;
}
.bar_box{
  grid-area: bar_box;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* outline-color: gray; */
}
.bar{
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_10{
  width: 10%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_20{
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_30{
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_40{
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_50{
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_60{
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_70{
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_80{
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}
.bar_90{
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
  height: 12px;
  background-color: gray;
}

nav {
    grid-area: left;
}

aside {
    grid-area: right;
}

footer {
    grid-area: footer;
    color: white;
    background-color: black;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); */
    display: grid;
    grid-template:
          " ... ... ... ... ... ... " auto
          " ... address social social backtotop ... " 50px
          " ... ... copyright copyright ... ... " 50px
          " ... ... ... ... ... ... " auto
          / auto 12vw 12vw 12vw 12vw auto;
          grid-gap: 10px;
}
footer p,h1,h2,a{
  color: white;
}
.address{
  grid-area: address;
}
.social{
  grid-area: social;
}
.univ{
  grid-area: univ;
}
.backtotop{
  grid-area: backtotop;
}
.copyright{
  grid-area: copyright;
  text-align: center;
}

#image{
  display:block;
  position:relative;
  top:0vh; left:0vw;
}
/* img{
  width:480px;
  height:auto;
} */

#worktitle{
  display:block;
  position:relative;
  top:0vh; left:10px;
  width:300px;
}

#year{
  display:block;
  position:relative;
  top:0vh; left:300px;
}

#tag{
  display:block;
  position:relative;
  top:-45px; left:10px;
  width:300px;
}

#text{
  display:block;
  position:relative;
  top:-50px; left:10px;
  width:300px;
}

img{
  width: 100%;
}
/*pattern 2*/

#slide_1 {
   width:100%;
}
#slide_1 .bx-pager-item a {
   /* background: #ccc; */
}
#slide_1 a.active {
   /* background:#4b4b4b; */
}
#slide_2 {
   width:100%;
}
#slide_2 .bx-pager-item a {
   /* background: #ccc; */
}
#slide_2 a.active {
   /* background:#4b4b4b; */
}
#slide_3 {
   width:100%;
}
#slide_3 .bx-pager-item a {
   /* background: #ccc; */
}
#slide_3 a.active {
   /* background:#4b4b4b; */
}
#slide_4 {
   width:100%;
}
#slide_4 .bx-pager-item a {
   /* background: #ccc; */
}
#slide_4 a.active {
   /* background:#4b4b4b; */
}

#bx-pager {
   text-align:center;
}

@media screen and (max-width: 1000px) {
    body {
        grid-template:
            "header" 150px
            "center" 1fr
            "footer" 300px;
    }
}
