@@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: "ＭＳ Ｐゴシック",Osaka,sans-serif,Helvetica; */
    font-family: 'Noto Sans JP Regular', sans-serif;
    color: #000;
    font-size: 14px;
    background: #fff;
    min-width: 320px;
    letter-spacing: 0.5px;
    border: 1px solid pink;
}

div{
  display: block;
}

h1, h2, h3, h4, h5, h6, p, address, ul, ol, li, dl, dt, dd, table, th, td, img, form {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1.6;
    border: none;
    list-style-type: none;
}

/* header */
#content_base {
  width: 100%;
  text-align: center;
  padding-top: 150px;
  border: 1px solid purple;
}

#header {
    width: 100%;
    float: left;
    padding: 30px 0;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: pink;
    border: 1px solid red;
}
#header .wrap {
    margin: 0 auto;
    max-width: 1280px;
    border: 1px solid blue;
}
#header .logo {
    float: left;
    margin: 5px 0 0 0;
}
#nav {
  text-align: center;
  border: 1px solid green;

}
#nav ul {
    /* float: left; */
    padding-top: 5px;
}
#nav ul li:nth-child(1) {
    margin-left: 0;
}
#nav ul li {
    /* float: left; */
    margin-left: 50px;
}
#nav a{
  font-size: 22px;
}
#nav ul li.current a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #808080;
    width: 100%;
}
#nav ul li a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #808080;
    transition: all 0.5s ease 0s;
}

#header ul{
  overflow:hidden;
　　list-style:none;
　　margin: 0;
　　z-index: 20;
}

#header ul li{
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}


/* header */

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* main */

#wrapper{
  display: block;
  position: relative;
  /* width: 70%; */
  text-align:center;
  margin: 0em 3.5em 3.5em 3.5em;
  align-items: center;
}

#works{
  display: block;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
}

.container{
  display:block;
  height: 60em;
  margin-bottom: 20px;
  margin-left: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align:center;
  flex-wrap: nowrap;
  /* align-content: flex-start; */
}


.post{
  display: block;
  /* width: calc(45% - 1.25em); */
  align-items: stretch;
  margin: 0 2em 0 0;
  flex: 1;
  align-self: flex-start;
  flex-basis: 40%;
  flex-grow: 1;
  min-width: 300px;
}

.post .image{
  /* display: block; */
  width: 100%;
}

.image img {
  /* margin: 1em 0 1em 0; */
  display: block;
  width: 100%;
  height: auto;
  align-items: center;
}

.post2{
  display: block;
  /* width: calc(45% - 1.25em); */
  align-items: stretch;
  margin-bottom: 2em;
  flex: 2;
  align-self: flex-start;
  flex-basis: 40%;
  flex-grow: 1;
  min-width: 300px;
}

h1{
  display: block;
  font-size: 22px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}
h2{
  display: block;
  font-size: 18px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: none;
}
p{
  font-size: 14px;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
}

.post3{
  display: block;
  /* width: calc(45% - 1.25em); */
  align-items: stretch;
  margin: 0 2em 0 0;
  flex: 3;
  align-self: flex-start;
  flex-basis: 20%;
  flex-grow: 1;
}

/* main */

a:link{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
  text-decoration: none;
}


table{
  border: none;
}

td{
  display: table-cell;
  vertical-align: top;
  padding-top:0px;

}

#image{
  display:block;
  position:relative;
  top:0vh; left:0vw;
}
/* img{
  width:480px;
  height:auto;
} */

#worktitle{
  display:block;
  position:relative;
  top:0vh; left:10px;
  width:300px;
}

#year{
  display:block;
  position:relative;
  top:0vh; left:300px;
}

#tag{
  display:block;
  position:relative;
  top:-45px; left:10px;
  width:300px;
}

#text{
  display:block;
  position:relative;
  top:-50px; left:10px;
  width:300px;
}
